packages: [
  "advanced-open-file"
  "atom-keyboard-macros"
  "atom-macros"
  "atom-rtags-plus"
  "atom-shortcuts"
  "atomic-chrome"
  "autocomplete-awk"
  "autocomplete-clang"
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-xml"
  "bugzilla-number"
  "build"
  "build-make"
  "busy"
  "busy-signal"
  "color-picker"
  "config-import-export"
  "dbg"
  "dbg-gdb"
  "disable-keybindings"
  "docblockr"
  "editorconfig"
  "emmet"
  "expose"
  "file-icons"
  "fonts"
  "git-blame"
  "git-control"
  "git-history"
  "git-log"
  "git-plus"
  "git-time-machine"
  "hey-pane"
  "highlight-selected"
  "hyperclick"
  "incremental-search"
  "intentions"
  "keybinding-cheatsheet"
  "language-cmake"
  "language-cpp14"
  "language-ini"
  "language-qml"
  "language-qtpro"
  "language-twiki"
  "last-cursor-position"
  "linter"
  "linter-clang"
  "linter-coffeelint"
  "linter-csslint"
  "linter-eslint"
  "linter-gcc"
  "linter-less"
  "linter-mixed-indent"
  "linter-ui-default"
  "linter-write-good"
  "linter-xmllint"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-split-diff"
  "open-recent"
  "output-panel"
  "package-sync"
  "pigments"
  "project-manager"
  "project-plus"
  "script"
  "simple-drag-drop-text"
  "sort-lines"
  "split-diff"
  "susave"
  "switch-header-source"
  "tabs-to-spaces"
  "terminal-fusion"
  "todo-show"
  "tree-view-git-branch"
  "tree-view-git-status"
]
