[
  {
    title: "Atom User Config"
    group: "Atom"
    paths: [
      "/export/home/esc/.atom"
    ]
  }
  {
    title: "nova2000"
    group: "SWR11"
    paths: [
      "/export/home/esc/ws/nova-r11/nova2000"
    ]
  }
  {
    title: "RANCRDPlinux"
    group: "RANC"
    paths: [
      "/export/home/esc/ws/RANCRDPlinux"
    ]
  }
  {
    title: "NOVAAirport"
    group: "Config"
    paths: [
      "/export/home/esc/ws/Install2/NOVAAirport"
    ]
  }
  {
    title: "Install 2"
    group: "Config"
    paths: [
      "/export/home/esc/ws/Install2"
    ]
  }
  {
    title: "~ [HOME]"
    group: "Editing"
    paths: [
      "/export/home/esc"
    ]
  }
  {
    title: "CWP"
    group: "SWR11"
    paths: [
      "/export/home/esc/ws/nova-r11/nova2000/cwp"
    ]
  }
  {
    title: "nova-os"
    group: "Config"
    paths: [
      "/export/home/esc/ws/Install2/nova-os"
    ]
  }
  {
    title: "nova2000"
    group: "SWR10"
    paths: [
      "/export/home/esc/ws/nova-r10/nova2000"
    ]
  }
  {
    title: "atom-rtags-plus"
    group: "Atom"
    paths: [
      "/export/home/esc/github/forked/atom-rtags-plus"
    ]
  }
  {
    title: "bugzilla-number"
    group: "Atom"
    paths: [
      "/export/home/esc/github/forked/bugzilla-number"
    ]
  }
  {
    title: "language-c"
    group: "Atom"
    paths: [
      "/export/home/esc/github/forked/language-c"
    ]
  }
  {
    title: "[ROOT]"
    group: "Editing"
    paths: [
      "/"
    ]
  }
  {
    title: "pragueASMGCS"
    group: "config"
    paths: [
      "/export/home/esc/ws/Install2/pragueASMGCS"
    ]
  }
  {
    title: "custom-window-title"
    group: "Atom"
    paths: [
      "/export/home/esc/github/forked/custom-window-title"
    ]
  }
]
